body, html {
    height: 100%;
    margin: 0;
}

.login-page {
    /* The image used */
    background-image: url(../../Content/images/Fondo.png) !important ;
    

    /* Full height */
    /*height: 100% !important;*/ 

    /* Center and scale the image nicely */
    /*background-position: center  !important;
    background-repeat: no-repeat  !important;
    background-size: cover  !important;*/
}