@model IEnumerable<SHP.Models.Answer>
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/UserControl.js"></script>

<script type="text/javascript">

    function ValidationEvent() {
        jQuery('#Send').attr("disabled", true);
        var y = 0;
        var textVal = document.getElementById('passReset').value;
        if (textVal == "") {
            document.getElementById('passReset').className = "invalid";
            document.getElementById('Validation').innerHTML = "";
            var text = document.createTextNode("The fields can not be empty");
            document.getElementById('Validation').appendChild(text);
            jQuery('#Send').attr("disabled", false);
            return false;
        }
        else {
            _resetPassword('DHY40', textVal);
            // document.location.href = "/";           
        }
    };

</script>

@*@using (Html.BeginForm("ResetPassword", controllerName, FormMethod.Post, new { id = "formResetPassword", onsubmit = "return ValidationEvent()" }))
{*@
    <div class="x_panel">
        <div class="x_title">
            <h2>Reset Password</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-horizontal">
                <span id="Validation" class="red-text text-darken-2"></span>
                @Html.ValidationSummary(true, "", new { @class = "red-text text-accent-4" })

                <div class="form-line">

                    <input name="passReset" id="passReset" class="form-control" type="password" style="float: left; padding-left: 15px;" placeholder="Write the Password" />

                </div>

            </div>
        </div>
        <hr class="m-b-0 m-t--10" />
        <div class="modal-footer">
            <input id="Send" type="submit" class="btn btn-primary" data-dismiss="modal" value="Send" onclick="ValidationEvent();"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>